* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    height: 267px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    padding: 0 210px;
    width: 100%;
    align-items: center;
}

nav {
    margin-right: 100px;
}

nav a {
    font-size: 18px;
    color: rgba(104, 136, 0);
    margin-right: 88px;
}
nav a:last-child {
    margin-right: 0;
}

.burger_cart {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
}

main {
    display: flex;
    justify-content: center;
}

.main_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1720px;
    padding: 0 210px;
}

.main_picture img {
    width: 570px;
}

.main_content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 620px;
}

.main_content h1, p {
    color:rgba(74, 74, 74);
    font-weight: 400;
}

.main_content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin: 32px 0;
}

h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 64px;
    line-height: 80px;
}

.counter {
    display: flex;
    width: 100%;
    height: 32px;
    max-width: 130px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 32px;
}

.counter p {
    color:rgba(104, 136, 0);
    font-weight: 500;
    font-size: 24px;
}

.minus, .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border: 1px solid rgba(128, 128, 128, 0.477);
    border-radius: 8px;
}

.content_buttons {
    display: flex;
    justify-content: space-between;
    max-width: 446px;
    width: 100%;
}

.more_info, .in_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 48px;
    border: 1px solid rgba(104, 136, 0);
    border-radius: 50px;
}

.more_info {
    margin-bottom: 24px;
}

.content_buttons p {
    color: rgba(104, 136, 0);
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

@media screen and (max-width:1600px) {
    nav a {
        margin-right: 40px;
    }
    .main_picture img {
        width: 440px;
    }
    .header_content, .main_wrapper {
        padding: 0 140px;
    }
}

@media screen and (max-width:1380px) {
    .main_picture img {
        margin-right: 40px;
    }
}

@media screen and (max-width:1250px) {
    .main_content {
        margin: 80px 0;
    }
    .content_buttons {
        flex-direction: column;
    }
    .nav_a {
        display: none;
    }
    .burger {
        display: block;
    }
    nav {
        margin-right: 24px;
    }
}

@media screen and (max-width:1100px) {
    .main_content {
        margin: 80px 0;
    }
    .content_buttons {
        flex-direction: column;
    }
    .nav_a {
        display: none;
    }
    .burger {
        display: block;
    }
    nav {
        margin-right: 24px;
    }
    header {
        height: 112px;
    }
    .main_wrapper {
        flex-direction: column;
    }
    .logo img {
        height: 80px;
    }
    .header_content, .main_wrapper {
        padding: 0 40px;
    }
    .main_picture img {
        margin-right: 0;
    }
    .main_content {
        justify-content: center;
    }
    .main_content h1, p, .counter, .content_buttons {
        margin: 0 auto;
    }
    .counter {
        margin-bottom: 32px;
    }
    .content_buttons {
        width: auto;
    }
    .more_info, .in_cart {
        width: 100%;
    }
    .content_buttons {
        display: flex;
        justify-content: center;
        max-width: 1000px;
        width: 100%;
    }
}

@media screen and (max-width:535px) {
    .main_picture img {
        width: 314px;
    }
    .main_content h1 {
        font-size: 36px;
        margin-top: -50px;
        margin-bottom: -20px;
    }
    .header_content, .main_wrapper {
        padding: 0 20px;
    }
}